<!DOCTYPE html>
<html>
	<head>
		<title>the Flow Room</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div id="container"></div>

		<script src="/socket.io/socket.io.js"></script>

		<!-- libraries -->
		<script src="/js/lib/stats.min.js"></script>
		<script src="/js/lib/dat.gui.min.js"></script>
		<script src="/js/lib/ImprovedNoise.js"></script>
		<script src="/js/lib/ShaderLoader.js"></script>

		<!-- three.js main -->
		<script src="/js/lib/three.js"></script>
		<script src="/js/lib/Detector.js"></script>
		<script src="/js/lib/OrbitControls.js"></script>

		<!-- scripts -->
		<script src="/js/Particle.js"></script>
		<script src="/js/Body.js"></script>
		<script src="/js/main_bodyFunctions.js"></script>
		<script src="/js/main_flowFunctions.js"></script>
		<script src="/js/main_otherFunctions.js"></script>
		<script src="/js/main.js"></script>

	</body>
</html>