<!DOCTYPE html>
<html>
<head>
    <title>the Flow Room</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div id="container"></div>

    <script src="/socket.io/socket.io.js"></script>

    <!-- libraries -->
    <script src="/scene-color/js/lib/stats.min.js"></script>
    <script src="/scene-color/js/lib/dat.gui.min.js"></script>
    <script src="/scene-color/js/lib/ImprovedNoise.js"></script>
    <script src="/scene-color/js/lib/ShaderLoader.js"></script>

    <!-- three.js main -->
    <script src="/scene-color/js/lib/three.js"></script>
    <script src="/scene-color/js/lib/Detector.js"></script>
    <script src="/scene-color/js/lib/OrbitControls.js"></script>

    <!-- waudio -->
    <script src="/scene-color/js/AudioNode.js"></script>
    <script src="/scene-color/js/sound.js"></script>

    <!-- scripts -->
    <script src="/scene-color/js/Particle.js"></script>
    <script src="/scene-color/js/Body.js"></script>
    <script src="/scene-color/js/main_fn_body.js"></script>
    <script src="/scene-color/js/main_fn_flow.js"></script>
    <script src="/scene-color/js/main_fn_floor.js"></script>
    <script src="/scene-color/js/main_fn_other.js"></script>
    <script src="/scene-color/js/main.js"></script>
</body>
</html>
